.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td,
  .table th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  
  .table th {
    background-color: #486690;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .table td {
    color: #eee;
  }
  
  .table tr:hover {
    background-color: #4a596e;
    color: #fff;
  }
  
